
<div class="card-body text-primary" style="margin-top: 80px;">
    
</div>

<div class="rrr">
<label style="font-size: 50px;"> <b>Shehzada</b></label>
<div class="row">
    <img class="d-block w-50" src="./assets/shehzada.jpg"/>
</div>
<div class="col">
    <label style="font-size: 20px;"> <b>Director: </b>Rohit Dhawan</label><br>
    <label style="font-size: 20px;"> <b>Written by: </b>Trivikram Srinivas</label><br>
    <label style="font-size: 20px;"> <b>Dialogue by: </b>Hussain Dalal</label><br>
    <label style="font-size: 20px;"> <b>Starring: </b>		
        Kartik Aaryan, 
        Kriti Sanon, 
        Paresh Rawal, 
        Manisha Koirala</label><br>
        <label style="font-size: 50px;"> <b>Price: </b>220/-</label><br>
   
    </div>

<div class="col">
    <label style="font-size: 20px;"> <b>SHOW TIMINGS: </b></label><br>
    <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i> 9:00am </button>    
        
    <button type="button" class="btn btn-secondary" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i> 12:00pm </button>   <br> 
        
    <button type="button" class="btn btn-info" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i> 3:00pm </button> 

    <button type="button" class="btn btn-success" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> 6:00pm </button> 
</div>
</div>

<!--Footer-->

<div class="card-footer bg-transperent border-info">
 
</div>



 
