<!--Body-->

<div class="card-body text-primary" style="margin-top: 80px;">
   


    <!--slider-->
    <label style="font-size: 50px;">Latest Movies.. Book Now!!!</label>
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="row" style="padding-right: 20px;" >
             
            <img class="d-block w-100" src="./assets/kartikeya.jpg" style="height: 500px; width: 600px;"/>
             
              <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>
   
            
          </div>
          
        </div>
        
        <div class="col-md-6">
          <div class="row " >
             <img class="d-block w-100" src="./assets/rrr.jpg" style="height: 500px; width: 600px;"/>
             
              <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="gotoRrr();"><i class="fa fa-ticket"></i> BOOK NOW</button>
               
            
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row" style="padding-right: 20px;" >
             
            <img class="d-block w-100" src="./assets/shehzada.jpg" style="height: 500px; width: 600px;"/>
            
              <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="gotoShehzada();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
            
          </div>
        </div>

        <div class="col-md-6">
          <div class="row " >
             <img class="d-block w-100" src="./assets/pathaan.jpg" style="height: 500px; width: 600px;"/>
             <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
            
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row" style="padding-right: 20px;" >
             
            <img class="d-block w-100" src="./assets/missionmajnu.jpg" style="height: 500px; width: 600px;"/>
             
              <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
            
          </div>
        </div>

        <div class="col-md-6">
          <div class="row " >
             <img class="d-block w-100" src="./assets/tanhaji.jpg" style="height: 500px; width: 600px;"/>
             <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
            
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row" style="padding-right: 20px;" >
             
            <img class="d-block w-100" src="./assets/inception.jpg" style="height: 500px; width: 600px;"/>
             
              <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
            
          </div>
        </div>
      
    </div>
    
    <!--Footer-->
    
    <div class="card-footer bg-transperent border-info">
     
    </div>
    
    
    
     